extends layout.pug

block content
  .info-box
    h3.title.text-center.mb-4.underline.font-bold Personal details
    img.profile-pic(src="/images/logo.jpg" class="w-24 h-24 rounded-full mx-auto")
    div.border-t.mt-4
      dl.divide-y
        div(class="py-4")
          dt.label Username
          dd#username Margotfoster123      
        div(class="py-4")
          dt.label Full name
          dd#fullname Margot Foster
        div(class="py-4")
          dt.label Email address
          dd#email margotfoster@example.com
        div(class="py-4")
          dt.label About
          dd#about Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim incididunt cillum culpa consequat. Excepteur qui ipsum aliquip consequat sint. Sit id mollit nulla mollit nostrud in ea officia proident. Irure nostrud pariatur mollit ad adipisicing reprehenderit deserunt qui eu.
    button.edit-button.mt-4#editButton Edit Profile

  div#editFormPopup.hidden.fixed.inset-0.bg-gray-800.bg-opacity-50.flex.justify-center.items-center.z-50
    form#editForm(action="/profile" method="POST" class="bg-white p-6 rounded-lg shadow-lg" style="max-width: 800px;")
      label.block.mt-4.mb-2(for="profilePicture") Profile Picture
      input#profilePicture(type="file" class="px-3 py-2 border rounded-md")
      label.block.mb-2(for="usernameInput") Username
      input#usernameInput(type="text" class="block w-full px-3 py-2 border rounded-md" value="Margotfoster123")
      label.block.mt-4.mb-2(for="fullnameInput") Full name
      input#fullnameInput(type="text" class="block w-full px-3 py-2 border rounded-md" value="Margot Foster")
      label.block.mt-4.mb-2(for="aboutInput") About
      textarea#aboutInput.block.w-full.px-3.py-2.border.rounded-md Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim incididunt cillum culpa consequat. Excepteur qui ipsum aliquip consequat sint. Sit id mollit nulla mollit nostrud in ea officia proident. Irure nostrud pariatur mollit ad adipisicing reprehenderit deserunt qui eu.
      button#saveChanges(type="submit" class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md") Save Changes
